@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B8860B; 
  --color-primary-hover: #DAA520;

  --color-text-bright: #F5F5F5;

  --color-background-dark: #333333;
  --color-background-dark-hover: #666666;

  --default-padding: 12px;
}

body {
  color: rgb(var(--color-primary));
}

.button-wrapper {
  font-weight: bold;
  padding: var(--default-padding);
  cursor: pointer;
}

.button-wrapper.primary {
  background-color: var(--color-primary);
  color: var(--color-text-bright);
}

.button-wrapper.secondary {
  background-color: var(--color-background-dark);
  color: var(--color-text-bright);
  border: 1px solid var(--color-text-bright)
}

.button-wrapper.primary:hover {
    background-color: var(--color-primary-hover);
}

.button-wrapper.secondary:hover {
  background-color: var(--color-background-dark-hover);
}

.section-background {
  background-color: var(--color-background-dark);
}

footer {
  color: var(--color-text-bright);
  background-color: var(--color-background-dark);

  text-transform: uppercase;
}