@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B8860B; 
  --color-primary-hover: #DAA520;

  --color-text-bright: #F5F5F5;

  --default-padding: 12px;
}

body {
  color: rgb(var(--color-primary));
}

.button-wrapper {
  background-color: var(--color-primary);
  color: var(--color-text-bright);
  font-weight: bold;
  padding: var(--default-padding);
}

.button-wrapper:hover {
    background-color: var(--color-primary-hover);
}
